<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form.select :parameter1, options_for_select([0, 1, 2, 3, 4, 5], Product.find(params[:id]).parameter1) %>
<%= form.select :parameter2, options_for_select([0, 1, 2, 3, 4, 5], Product.find(params[:id]).parameter2) %>
<%= form.select :parameter3, options_for_select([0, 1, 2, 3, 4, 5], Product.find(params[:id]).parameter3) %>
<%= form.select :parameter4, options_for_select([0, 1, 2, 3, 4, 5], Product.find(params[:id]).parameter4) %>
<%= form.select :parameter5, options_for_select([0, 1, 2, 3, 4, 5], Product.find(params[:id]).parameter5) %>


<div class="actions">
  <%= form.submit %>
</div>


<% end %>
