

<%= image_tag @product.avatar, style: "width: 500px; display: block" %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @product.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
